body {
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiTableHead-root .MuiTableCell-head {
  background-color: #FF7F32;
  color: white;
} 